.register-container{
    background-image: url('../../assets/login1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
}